html,
body {
  padding: 0;
  margin: 0;
  background-color: #181818;
}

a {
  color: cyan;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
  width: 7.5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #181818;
  border-radius: 10px;
  opacity: 50%;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #383838;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #282828;
}

p {
  font-size: 1.2em;
  line-height: 2em;
}

li {
  font-size: 1.2em;
  line-height: 2em;
}
